<head>
 <meta http-equiv="Content-type" content="application/xhtml+xml; charset=UTF-8">
 <meta name="author" content="wolf2789">
 <script type="text/javascript" language="javascript" src="http://code.jquery.com/jquery-latest.js"></script>
 <title>Cr4k3n</title>
<style>
*{padding:0;margin:0;resize:none;}
*:not(button){border:0;overflow:hidden;}
body{color:#000;background:#fff;}
div.window{position:absolute;background:#000;color:#fff;border:1px solid #0f0;padding:1px;cursor:hand;}
div.title{position:relative;top:0;width:100%;height:20px;background:#0f0;color:#000;cursor:move;}
div.title>button{float:right;width:12px;height:70%;border:0;font-size:40%;margin:1 1 1 0;background:#000;color:#0f0;cursor:hand;}
div.content{position:relative;top:0px;left:0px;width:100%;bottom:0;overflow:auto;cursor:default;}
</style>
<script>
var mouse={dragging:false,draggingLast:false,dragType:0,pos:[0,0],opos:[0,0],rpos:[0,0]};
window_list=[];
window_list[0]={title:"test 2 cnie",buttons:['Close'],content:"<font size=20>test :D</font><br/><button style='font-size:200px'>przycisk</button>"};
window_list[1]={title:"test",buttons:['Minimize','Close'],content:"test :D<br/><textarea rows=10 cols=30>asd</textarea>"};

PointInRect=function(x,y,t,l,b,r){return(x>=l && y>=t && x<=r && y<=b);};
Array.prototype.hasObject=(!Array.indexOf ? function(o){var l=this.length+1;while(l-=1)if(this[l-1]===o)return true;return false;} : function(o){return(this.indexOf(o)!==-1);});

CreateWindow=function(DATA){
    var wnd=document.createElement('div');
    wnd.style.cssText="top:0px;left:0px;";
    wnd.setAttribute('class','window');

    if(DATA.hasOwnProperty('title')){
        var title=document.createElement('div');
        title.setAttribute('class','title');
        title.innerHTML="&nbsp;"+DATA['title'];

        if(DATA.hasOwnProperty('buttons')){
            if(DATA['buttons'].hasObject('Close')){
                var btnClose=document.createElement('button');
                btnClose.innerHTML="X";
                $(btnClose).mousedown(function(e){
                    e.preventDefault();
                    $(this).parent('.title').parent('.window').remove();
                    return false;
                });
                title.appendChild(btnClose);
            }

            if(DATA['buttons'].hasObject('Minimize')){
                var btnMinimize=document.createElement('button');
                btnMinimize.innerHTML="▭";
                $(btnMinimize).mousedown(function(e){
                    e.preventDefault();
                    if($(this).text()=="▭"){
                        var parent=$(this).parent('.title').parent('.window');
                        $(this).attr('height',$(parent).css('height'));
                        $(parent).css('height','21px');
                        $(this).text("⚰");
                    }else{
                        $(this).parent('.title').parent('.window').css('height',$(this).attr('height'));
                        $(this).attr('height',false);
                        $(this).text("▭");
                    }
                    return false;
                });
                title.appendChild(btnMinimize);
            }
        }

        $(title).mousedown(function(e){
            e.preventDefault();
            $(".window").css('z-index',9997);
            $(mouse.draggingLast).css('z-index',9998);
            $(this).parent(".window").css('z-index',9999);
            mouse.dragging=$(this).parent(".window");
            mouse.dragType=1;
            return false;
        }).mouseup(function(){
            mouse.draggingLast=mouse.dragging;
            mouse.dragging=false;
            mouse.dragType=0;
        });

        wnd.appendChild(title);
    }

    if(DATA.hasOwnProperty('content')){
        var content=document.createElement('div');
        content.setAttribute('class','content');
        content.innerHTML=DATA['content'];
        wnd.appendChild(content);
    }

    $(wnd).mousedown(function(e){
        $(".window").css('z-index',9997);
        $(mouse.draggingLast).css('z-index',9998);
        $(this).css('z-index',9999);
        var CanDrag=true;
        var wndX=parseInt($(this).css('left'));
        var wndY=parseInt($(this).css('top'));
        var wndW=parseInt($(this).css('width'));
        var wndH=parseInt($(this).css('height'));
        var content=$(this).children('.content');
        if(content.length>0)
            CanDrag=!PointInRect(mouse.pos[0],mouse.pos[1],(wndY+parseInt($(content).css('top'))+2),(wndX+parseInt($(content).css('left'))+2),(wndY+parseInt($(content).css('height'))-2),(wndX+parseInt($(content).css('width'))-2));
        if(CanDrag){
            e.preventDefault();
            if(PointInRect(mouse.pos[0],mouse.pos[1],(wndY+wndH-3),(wndX+wndW-3),(wndY+wndH+3),(wndX+wndW+3))){
                mouse.dragging=$(this);
                mouse.dragType=2;
            }else{
                if(PointInRect(mouse.pos[0],mouse.pos[1],(wndY+21),(wndX+wndW-3),(wndY+wndH+3),(wndX+wndW+3))){
                    mouse.dragging=$(this);
                    mouse.dragType=3;
                }
                if(PointInRect(mouse.pos[0],mouse.pos[1],(wndY+wndH-3),(wndX+1),(wndY+wndH+3),(wndX+wndW+3))){
                    mouse.dragging=$(this);
                    mouse.dragType=4;
                }
            }
            return false;
        }
    }).mouseup(function(){
        mouse.draggingLast=mouse.dragging;
        mouse.dragging=false;
        mouse.dragType=0;
    });

    document.body.appendChild(wnd);

    $(wnd).css('top',($(window).height() / 2)-(parseInt( $(wnd).css('height') ) / 2));
    $(wnd).css('left',($(window).width() / 2)-(parseInt( $(wnd).css('width') ) / 2));

    $(".window").css('z-index',9998);
    $(wnd).css('z-index',9999);
};

$(document).ready(function(){
    $(window).mousemove(function(e){
        mouse.opos=mouse.pos;
        mouse.pos=[e.clientX,e.clientY];
        mouse.rpos=[mouse.pos[0]-mouse.opos[0],mouse.pos[1]-mouse.opos[1]];
        if(mouse.dragging!=false)
            switch(mouse.dragType){
                case 1:
                    $(mouse.dragging).css('left','+='+mouse.rpos[0]);
                    $(mouse.dragging).css('top','+='+mouse.rpos[1]);
                    break;
                case 2:
                    $(mouse.dragging).css('width','+='+mouse.rpos[0]);
                    $(mouse.dragging).css('height','+='+mouse.rpos[1]);
                    break;
                case 3:
                    $(mouse.dragging).css('width','+='+mouse.rpos[0]);
                    break;
                case 4:
                    $(mouse.dragging).css('height','+='+mouse.rpos[1]);
                    break;
                default: break;
            }
    });

    for(i=0;i<window_list.length;i++) CreateWindow(window_list[i]);
    CreateWindow({title:"omg ;D",content:"<textarea rows=10 cols=30></textarea>",buttons:['Minimize','Close']});
});
</script>
</head><body>
</body>